/*====================
Main Color
=====================*/

$yellow               : #FAB800; // Stickearn yellow
$purple               : #682DAA; // Stickearn purple
$dark                 : #131825; // Title
$text-normal          : #525876; // Body
$text-subtitle        : #BDC1D4; // Placeholder / helper
$line                 : #E8EAF5;
$accent               : #F7F7FB;
$white                : #FFFFFF; 
$red                  : #E60000;
$error                : #FF5757;
$turquoise            : #00B4AE;
$salmon               : #FF9170;
$green                : #94B63F;
$active               : #2AD985;
$light-blue           : #8DD7CA;
$blue                 : #0070C1;

/*====================
General Color
=====================*/

$c-yellow-dark: #DF7800;

$c-navy-base: #011148;
$c-navy-lighten-1: #8088A3; // 
$c-navy-lighten-2: #E5E7EC; // 
$c-navy-darken-1: #010B2F; // 
$c-navy-darken-2: #000516; // 

$c-blue-base: #2791d9;
$c-blue-lighten-1: #93C8EC; // 
$c-blue-lighten-2: #BFDEF4; // 
$c-blue-darken-1: #2283C4; // 
$c-blue-darken-2: #1F74AE; // 

$c-skyblue-base: #33beef;
$c-skyblue-lighten-1: #99DEF7; // 
$c-skyblue-lighten-2: #C2EBFA; // 
$c-skyblue-darken-1: #1BB6ED; // 
$c-skyblue-darken-2: #11A8DE; // 

$c-green-base: #1BC47D;
$c-green-lighten-1: #8DE1BE; //
$c-green-lighten-2: #BBEDD8; // 
$c-green-darken-1: #18B070; // 
$c-green-darken-2: #159C64; // 

$c-red-base: #EF4344;
$c-red-lighten-1: #F7A1A1; // 
$c-red-lighten-2: #FDE8E8; // 
$c-red-darken-1: #ED2C2D; // 
$c-red-darken-2: #EB1415; // 

$c-yellow-base: #FFCE07;
$c-yellow-lighten-1: #FFE683; // 
$c-yellow-lighten-2: #FFF1BA; // 
$c-yellow-darken-1: #EDBE00; // 
$c-yellow-darken-2: #D3A900; // 

$c-orange-base: #FF9407;
$c-orange-lighten-1: #FFC983; // 
$c-orange-lighten-2: #FFDFB5; // 
$c-orange-darken-1: #E58406; // 
$c-orange-darken-2: #CC7605; // 

$c-magenta-base: #D92779;
$c-magenta-lighten-1: #EC93BC; // 
$c-magenta-lighten-2: #F3BED7; // 
$c-magenta-darken-1: #C2236C; // 
$c-magenta-darken-2: #AD1F60; // 

$c-grey-base: #757575;
$c-grey-lighten-1: #BABABA; //  #a3a3a3
$c-grey-lighten-2: #D5D5D5; //
$c-grey-lighten-3: #E3E3E3; //
$c-grey-lighten-4: #F1F1F1; // #f5f5f5
$c-grey-lighten-5: #F6F6F6; // 
$c-grey-darken-1: #3A3A3A; // 
$c-grey-darken-2: #222222; //
