// Font sizes
$text-huge:48px;
$text-xxl:32px;
$text-xl:24px;
$text-lg:18px;
$text-md:16px;
$text-sm:14px;
$text-xs:12px;
$text-xxs:11px;

//screen size
$screen-xxxl:1680px; // 1200px //75em
$screen-xxl:1440px; // 1200px //75em
$screen-xl:1200px; // 1200px //75em
$screen-lg:1024px; // 1024px //75em
$screen-md:992px; // 992px //62em
$screen-sm:768px;// 768px //48em

// gutter - used for both padding and margin
$gutter-md: 16px;
$gutter-xxl: $gutter-md * 4; //64px
$gutter-xl: $gutter-md * 2; //32px
$gutter-lg: $gutter-md * 1.5; //24px
$gutter-sm: $gutter-md / 2; //8px
$gutter-xs: $gutter-md / 4; //4px
$gutter-xxs: $gutter-md / 8; //2px

$card-box-shadow : 0 0 0 1px rgba(0,0,0,0.05), 0 2px 5px 0 rgba(0,0,0,0.05);

$font-stack:'Gilroy';
