.se-breadcrumbs {
  position: relative;

  &--list {
    list-style: none;
    @include flexbox;
    @include align-items(center);
  }

  &--item {
    font-size: $text-sm;
    font-weight: 800;
    a {
      color: $text-subtitle;
    }
    &.active {
      color: $text-normal;
    }
    span {
      font-size: $text-lg;
      color: $text-normal;
    }
  }
}