.se-checkbox {
  position: relative;
  .ant-checkbox-wrapper {
    &:hover {
      .ant-checkbox-checked {
        &:after {
          @include border-radius(6px);
        }
      }
    }
    .ant-checkbox {
      .ant-checkbox-inner {
        width: 24px;
        height: 24px;
        @include border-radius(6px);
        &:after {
          top: 48%;
          left: 27%;
          width: 6.714286px;
          height: 12.142857px;
        }
      }
    }

    .ant-checkbox-indeterminate {
      .ant-checkbox-inner {
        &::after {
          top: 50% !important;
          left: 50% !important;
          width: 12px !important;
          height: 12px !important;

          @include border-radius(4px);
        }
      }
    }
  }
  
  &__small {
    .ant-checkbox-wrapper {
      .ant-checkbox {
        .ant-checkbox-inner {
          width: 16px;
          height: 16px;
          @include border-radius(4px);
          &:after {
            top: 50%;
            left: 22%;
            width: 5.71428571px;
            height: 9.14285714px;
          }
        }
      }

      .ant-checkbox-indeterminate {
        .ant-checkbox-inner {
          &::after {
            width: 8px !important;
            height: 8px !important;
  
            @include border-radius(2px);
          }
        }
      }
    }
  }

  &__large {
    .ant-checkbox-wrapper {
      .ant-checkbox {
        .ant-checkbox-inner {
          width: 32px;
          height: 32px;
          &:after {
            top: 50%;
            left: 29%;
            width: 8.71428571px;
            height: 14.14285714px;
          }
        }
      }

      .ant-checkbox-indeterminate {
        .ant-checkbox-inner {
          &::after {
            width: 16px !important;
            height: 16px !important;
  
            @include border-radius(4px);
          }
        }
      }
    }
  }

  &__purple {
    .ant-checkbox-wrapper {
      .ant-checkbox-checked {
        .ant-checkbox-inner {
          background-color: $purple;
          border-color: $purple;
        }
      }
    }
  }

  &__yellow {
    .ant-checkbox-wrapper {
      .ant-checkbox-checked {
        .ant-checkbox-inner {
          background-color: $yellow;
          border-color: $yellow;
        }
      }
    }
  }
}
