.se-checkbox {
  &--item {
    cursor: pointer;
    display: inline-block;

    &:hover {
      input:not(:checked) + label:before {
        background-color: $accent;
      }
      input:checked + label:before {
        background-color: #DF7800;
      }
    }

    &:focus, &:active {
      input:not(:checked) + label:before {
        @include box-shadow(0px 0px 8px 8px rgba($color: $line, $alpha: .24))
      }

      input:checked + label:before {
        @include box-shadow(0px 0px 8px 8px rgba($color: $yellow, $alpha: .24))
      }
    }

    &.disabled {
      cursor: not-allowed;

      input:not(:checked) + label:before, 
      input:checked + label:before {
        background-color: $line;
        cursor: not-allowed;
      }

      input,
      label {
        cursor: not-allowed;
      }
    }

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }

    label {
      cursor: pointer;
      position: relative;

      &:before {
        content:'';
        -webkit-appearance: none;
        background-color: $white;
        border: 1px solid $line;
        box-sizing: border-box;
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: $gutter-sm;
        width: 32px;
        height: 32px;

        @include border-radius(4px)
      }
    }

    input:checked + label:before {
      background-color: $yellow;
    }

    input:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 12px;
      width: 8px;
      height: 16px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &--small {
    label {
      &:before {
        width: 24px;
        height: 24px;
      }
    }
    input:checked + label:after {
      top: 4px;
      left: 9px;
      width: 6px;
      height: 12px;
    }
  }
}
