
.se-combobox {
  position: relative;
  width: auto;

  @include flexbox;
  @include flex-direction(column);

  label {
    margin-bottom: $gutter-sm;
  }

  &--field {
    cursor: pointer;
    position: relative;
    width: 100%;
    border: 1px solid $line;
    outline: none;
    padding: ($gutter-md - 4) ($text-lg + $gutter-md) ($gutter-md - 4) $gutter-md;
    margin-bottom: $gutter-sm;
    font-size: $text-md;
    background-color: $accent;
    @include border-radius(8px);

    .field {
      &-placeholder {
        color: $text-subtle;
      }
      &-value {
        color: $text-normal;
      }
    }

  }

	&--small {
    .se-combobox--field {
			padding-top: $gutter-xs;
			padding-bottom: $gutter-xs;
		}
		.se-combobox--list {
			top: 37px;
		}
		i {
			top: 0.3rem!important;
		}
  }
	
	&--list {
		min-width: 186px;
		width: 100%;
		z-index: 9;
		position: absolute;
		text-align: left;
		list-style: none;
		right: 0;
		top: 54px;
		color: $text-normal;

		background-color: $white;
		border: 1px solid $line;
		padding: $gutter-xs 0;
		
		@include box-shadow(0px 6px 16px rgba($text-normal, 0.32));
		@include border-radius(8px);

		li {
			div {
				padding: $gutter-sm $gutter-md;
				cursor: pointer;
				&:hover {
					background-color: rgba($accent, 0.5);
				}
			}
		}
		
		&-left {
			left: 0;
		}
	}

	&--item {
		&.no-data {
			div {
				color: $text-subtle;
				cursor: default;
				background-color: rgba($accent, 0.5);
			}
    }
    &.search {
      div {
        position: relative;
        border-bottom: 1px solid $line;
        cursor: default;
        &:hover {
          background-color: transparent;
        }
      }
      span {
        position: absolute;
        left: 16px;
      }
      input {
        width: 100%;
        padding-left: $gutter-lg;
        outline: none;
        border: none;
        background: transparent;
        &::placeholder {
          color: $text-subtle;
        }
        font-size: $text-md - 2;
      }
    }
	}

  &--info {
    font-size: $text-sm;
    font-weight: bold;
  }

  &.error {
    label,
    input,
    .icon,
    .se-combobox--info,
    .se-combobox--field {
      color: $error;
    }

    .se-combobox--field {
      border: 1px solid $error;
    }
    
  }

  &.success {
    .icon {
      color: $purple;
    }

    .se-combobox--field {
      border: 1px solid $purple;
    }
	}
	
	&.disabled {
    .icon {
      color: $white;
    }
		.se-combobox--field {
      cursor: not-allowed;
      background-color: $text-subtle;
      color: $white;

			.field-placeholder {
				color: $line;
			}
    }
  }

  i:not(.icon-search) {
    position: absolute;
    top: .85rem;
    right: 1rem;
  }
}