
.se-combobox {
  position: relative;
  width: auto;

  @include flexbox;
  @include flex-direction(column);

  label {
    margin-bottom: $gutter-sm;
    color: $text-normal;
    line-height: 22px;

    .asterisk {
      font-size: $text-xs;
      color: $error;
    }
  }

  &--field {
    cursor: pointer;
    position: relative;
    width: 100%;
    border: 1px solid $line;
    outline: none;
    padding: 0 ($gutter-lg + $gutter-md) 0 $gutter-md;
    margin-bottom: $gutter-sm;
    background-color: $accent;
    min-height: 32px;

    @include border-radius(6px);
    @include flexbox;
    @include align-items(center);

    &:active,
    &:focus,
    &:hover {
      border: 1px solid $accent;
      @include box-shadow(0 0 0 2px rgba($color: $text-normal, $alpha: .2))
    }

    &:focus + label {
      color: $yellow;
    }

    .field {
      &-placeholder {
        color: $text-subtitle;
      }
      &-value {
        color: $text-normal;
      }
    }

  }

  &--large {
    .se-combobox--field {
			min-height: 42px;
		}
		.se-combobox--list {
			top: 47px;
		}
		i {
			top: 10px!important;
		}
  }

	&--small {
    .se-combobox--field {
			min-height: 24px;
		}
		.se-combobox--list {
			top: 28px;
		}
		i {
			top: 1px!important;
		}
  }
	
	&--list {
		min-width: 186px;
		width: 100%;
		z-index: 9;
		position: absolute;
		text-align: left;
		list-style: none;
		right: 0;
		top: 37px;
		color: $text-normal;
    max-height: 195px;
    overflow-y: auto;

		background-color: $white;
		border: 1px solid $line;
		padding: $gutter-xs 0;
		
		@include box-shadow(0px 4px 8px rgba(112, 116, 138, 0.24));
		@include border-radius(6px);

		li {
			div {
				padding: $gutter-sm $gutter-md;
				cursor: pointer;
				&:hover {
					background-color: rgba($accent, 0.5);
				}
			}
		}
		
		&-left {
			left: 0;
		}
	}

	&--item {
		&.no-data {
			div {
				color: $text-subtitle;
				cursor: default;
				background-color: rgba($accent, 0.5);
			}
    }
    &.search {
      div {
        position: relative;
        border-bottom: 1px solid $line;
        cursor: default;
        &:hover {
          background-color: transparent;
        }
      }
      span {
        position: absolute;
        left: 16px;
      }
      input {
        width: 100%;
        padding-left: $gutter-lg;
        outline: none;
        border: none;
        background: transparent;
        &::placeholder {
          color: $text-subtitle;
        }
        font-size: $text-md - 2;
      }
    }
	}

  &--info,
  &--helper {
    font-size: $text-xs;
    line-height: 20px;
  }

  &.error {
    label,
    input,
    .icon,
    .se-combobox--info,
    .se-combobox--field {
      color: $error;
    }

    .se-combobox--field {
      border: 1px solid $error;
      @include box-shadow(0 0 0 2px rgba($color: $error, $alpha: .2))
    }
    
  }

  &.success {
    .icon {
      color: $purple;
    }

    .se-combobox--field {
      border: 1px solid $purple;
      @include box-shadow(0 0 0 2px rgba($color: $purple, $alpha: .2))
    }
	}
	
	&.disabled {
    .icon {
      color: $white;
    }
		.se-combobox--field {
      cursor: not-allowed;
      background-color: $disabled;
      color: $white;

      &:active,
      &:focus,
      &:hover {
        border: 1px solid $disabled;
        @include box-shadow(0 0 0 2px rgba($color: $disabled, $alpha: .2))
      }

			.field-placeholder {
				color: $line;
			}
    }
  }

  i.icon-chevron-down,
  i.icon-chevron-up {
    position: absolute;
    top: 5px;
    right: 1rem;
  }
}