.ant-calendar-picker {
  width: 100%;
  .ant-input:not(.ant-input-disabled) {
    font-size: $text-sm;
    background-color: $accent;
    @include border-radius(6px);
  }

  &:active,
  &:focus,
  &:hover {
    .ant-calendar-picker-input:not(.ant-input-disabled) {
      border-color: $accent !important;
      @include box-shadow(0 0 0 2px rgba($color: $text-normal, $alpha: .2))
    }
  }

  .ant-calendar-picker-input {
    width: 100%;
  }

  .ant-input-lg {
    height: 42px;
    font-size: $text-sm;
  }
}