.se-fileAttachment {
	$self: &;

	svg {
		width: 1em;
		height: 1em;
	}

	& {
	    position: relative;
	    flex-wrap: wrap;

	    @include flexbox;
	    @include align-items(center);
	}

	&__label {
		flex: 0 0 100%;
		color: $text-normal;
		margin-bottom: $gutter-sm;
	}

	&__label--inline {
	    flex: 0 0 20%;
	    max-width: 20%;
	    margin-bottom: 0;
	}

	&__wrapper {
	    position: relative;
	    flex-wrap: wrap;
	    flex: 0 0 100%;
		max-width: 100%;

		@include flexbox;
	}

	&__wrapper--inline {
		flex: 0 0 80%;
		max-width: 80%;
	}

	&__input {
	    opacity: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    cursor: pointer;
	}

	&__preview {
	    background: $accent;
	    border: 1px solid $line;
	    border-width: 1px 0 1px 1px;
	    padding: ($gutter-md - 4) $text-md;
	    flex: 1;
	    min-width: 0;
	    
	    @include flexbox;
	    @include border-radius(8px 0 0 8px);
	}

	&__preview-name {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__icon {
	    background: $text-subtitle;
	    border: 1px solid $text-subtitle;
	    border-width: 1px 1px 1px 0;
	    flex: 0 0 45px;
	    max-width: 45px;

	    @include flexbox;
	    @include align-items(center);
	    @include justify-content(center);
	    @include border-radius(0 8px 8px 0);
	}

	&__info {
		flex: 0 0 100%;
		max-width: 100%;
		font-size: $text-sm;
	    font-weight: bold;
		margin-top: $gutter-sm;
	}

	&__info--inline {
		flex: 0 0 80%;
		max-width: 80%;
	    margin-left: 20%;
	}

	/**
	 * modifier state
	 */
	&--success {
		#{ $self }__label,
		#{ $self }__preview,
		#{ $self }__info {
			color: $purple;
		}

		#{ $self }__preview,
		#{ $self }__icon {
			border-color: $purple;
		}
	}

	&--error {
		#{ $self }__label,
		#{ $self }__preview,
		#{ $self }__info {
			color: $red;
		}

		#{ $self }__preview,
		#{ $self }__icon {
			border-color: $red;
		}
	}

	&--disabled {
		#{ $self }__preview {
			cursor: not-allowed;
			background-color: $text-subtitle;
			border-color: $text-subtitle;
			color: $white;
		}
	}
}
