.se-pagination {
  position: relative;
  font-size: $text-sm;

  ul {
    list-style: none;
    
    @include flexbox;
    @include align-items(center);

    li {
      &:not(:last-of-type) {
        margin-right: $gutter-md;
      }
      &.active {
        span {
          color: white;
          background-color: $purple;
          border: 1px solid $purple;
          cursor: default;
        }
      }
      
      span {
        color: $text-subtle;
        background-color: $accent;
        border: 1px solid $line;
        height: 24px;
        width: 24px;
        cursor: pointer;
        font-weight: 800;

        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include border-radius(50px);

        &:hover {
          border: 1px solid $text-subtle;
        }

        i {
          font-size: $text-xl;
        }
        &.separator {
          cursor: default;
          &:hover {
            border: 1px solid $line;
          }
        }
      }
    }
  }

  &.rectangle {
    ul li span {
      @include border-radius(4px);
    }
  }
}