
.se-radio {
  position: relative;
  display: inherit;
  .ant-radio-wrapper {
    @include flexbox;
    @include align-items(center);
  }
  .ant-radio-wrapper:hover .ant-radio, 
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus + .ant-radio-inner {
    border-color: $yellow;
  }
  .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: 0 0 0 3px rgba($color: $yellow, $alpha: .08);
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: $yellow;
  }
  .ant-radio-inner::after {
    background-color: $yellow;
  }
  .ant-radio-checked::after {
    border: 1px solid $yellow;
  }
  

  &__large {
    .ant-radio-inner {
      width: 24px;
      height: 24px;

      &:after {
        top: 5px;
        left: 5px;
        width: 12px;
        height: 12px;
      }
    }
  }

  &__group {
    position: inherit;

    .label-name {
      margin-bottom: $gutter-sm;
      color: $text-normal;
      line-height: 22px;
  
      .asterisk {
        font-size: $text-xs;
        color: $error;
      }
    }

    &-info,
    &-helper {
      font-size: $text-xs;
      line-height: 20px;
    }

    .ant-radio-group-large .ant-radio-button-wrapper {
      height: 46px;
      font-size: $text-sm;
      line-height: 44px;
    }

    .ant-radio-group-outline {
      width: 100%;
    }

    .ant-radio-button-wrapper {
      background-color: $accent;
      border: 1px solid $line;
      text-align: center;
      font-weight: 600;

      @include border-radius(6px !important);

      &:first-child {
        border-left: 1px solid $line;
      }

      &:not(:first-child)::before {
        background-color: transparent;
      }
    }
  }

  .group-button {
    position: inherit !important;
    .ant-radio-group {
      @include flexbox;
      @include justify-content(space-between);
    }
  }
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  outline: none !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  border-color: $purple !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: $purple !important;
  border-color: $purple !important;
  box-shadow: 0 0 0 0 $purple !important;
  background: rgba($color: $purple, $alpha: .08) !important;
}

.ant-radio-button-wrapper:hover {
  color: $purple !important;
}

.ant-radio-button-wrapper:focus-within {
  outline: none !important;
}