.se-select {
  position: relative;

  &.count-multiple {
    .ant-select-selection--multiple {
      .ant-select-selection__choice {
        display: none;
      }
    }
  }

  &__large {
    .ant-select-lg {
      font-size: $text-sm;
      height: 42px;
    }
  }

  .label-name {
    margin-bottom: $gutter-sm;
    color: $text-normal;
    line-height: 22px;

    .asterisk {
      font-size: $text-xs;
      color: $error;
    }
  }
  &__info,
  &__helper {
    font-size: $text-xs;
    line-height: 20px;
  }

  .ant-select {
    &:not(.ant-select-disabled) {
      .ant-select-selection {
        background-color: $gray-3;
        border: 1px solid $gray-3;

        @include border-radius(6px);

        &:active,
        &:focus,
        &:hover {
          border-color: $purple-5;
          background-color: $gray-1;
        }

        &:active,
        &:focus {
          @include box-shadow(0px 0px 0px 3px rgba(127, 67, 196, 0.12));
        }
      }
    }

    &.ant-select-disabled {
      .ant-select-selection {
        background-color: $gray-4;
        border: 1px solid $gray-4;
      }
    }

    .ant-select-selection__rendered {
      .ant-select-selection__placeholder {
        color: $gray-6;
      }
    }

    .ant-select-selection--multiple {
      .ant-select-selection__rendered {
        margin-left: $gutter-sm;
        
        .ant-select-selection__choice {
          @include border-radius(6px);
          background-color: $gray-8;
          color: $white;

          .ant-select-selection__choice__remove {
            color: $white;
          }
        }
      }
    }
  }

  &.error {
    .label-name,
    .se-select__info {
      color: $red;
    }

    .ant-select-selection {
      border-color: $red;
    }
  }

  &.success {
    .label-name,
    .se-select__info {
      color: $purple;
    }

    .ant-select-selection {
      border-color: $purple;
    }
  }

  &.count-multiple {
    background-color: $accent;
    border-color: $line;

    @include border-radius(6px);
    .ant-select {
      z-index: 10;
      .ant-select-selection--multiple {
        background-color: transparent;
      }
    }
    .count-list {
      position: absolute;
      left: 0;
      top: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-left: $gutter-sm;
    }
  }
}
