.se-sidebarmenu {
  width: 82px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: hidden;
  z-index: 1100;
  overflow-x: hidden;
  transition: 0.5s;

  &.show {
    width: 250px;
  }

  &--brand {
    color: $white;
    padding: ($gutter-md + 4) ($gutter-xl - 2);
    margin-bottom: 10px;
    font-size: 30px;
    cursor: pointer;

    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    img {
      max-width: 170px;
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }
    
  }

  &--label {
    margin-left: 16px;
    white-space: nowrap;
    width: 100%;

    display: inline-flex;
    @include align-items(center);
    @include justify-content(space-between);
    
  }

  &--icon {
    font-size: $gutter-md + 6;
  }

  &--list {
    margin-top: 10px;
    list-style: none;
    .se-sidebarmenu--item {
      text-transform: capitalize;
      padding: 0;

      @include flexbox;
      @include align-items(center);
      @include justify-content(flex-start);

      &.submenu {
        position: relative;
      }
  
      a,
      span.submenu-label {
        position: relative;
        text-decoration: none;
        letter-spacing: 0;
        line-height: 16px;
        font-weight: 800;
        padding: 12px ($gutter-lg + 4);
        width: 100%;

        @include flexbox;
        @include align-items(center);

        &:hover {
          @include border-radius(8px);
        }

        &.router-link-exact-active,
        &.router-link-active,
        &.active {
          @include border-radius(8px);

          &:hover {
            cursor: default;
          }
        }

        &.label-menu {
          cursor: default;
          font-size: $text-sm;
          line-height: 154%;
          padding: $gutter-md ($gutter-md - 2) $gutter-md 0;
          min-height: 55px;

          &:hover {
            background-color: transparent;
  
            @include border-radius(8px);
          }
        }

        .se-sidebarmenu--label {
          width: 80%;
        }
      }
      .submenu-list {
        position: absolute;
        top: 50px;
        right: 0;
        width: 73%;
        list-style: none;
        border-left: 1px solid $line;
      }
      .submenu-item {
        a {
          padding-left: $gutter-md - 2;
          padding-right: $gutter-md - 2;

          &:hover,
          &.router-link-exact-active,
          &.router-link-active,
          &.active {
            background-color: transparent !important;
          }
        }
        .se-sidebarmenu--label {
          margin: 0;

          .se-sidebarmenu--icon {
            float: right;
          }
        }
      }
    }
  }


  &.purple {
    background: $purple;
    .se-sidebarmenu--brand {
      color: $white;
    }
    .se-sidebarmenu--item {
      a,
      span.submenu-label {
        color: $white;
        cursor: pointer;
        @include border-radius(0);

        &.label-menu {
          color: rgba($color: $white, $alpha: .64);
          cursor: default;
          &:hover {
            background-color: transparent;
            border-left: none;
          }
        }
      }

      &:not(.label) {
        a,
        span.submenu-label {
          &:hover,
          &.router-link-exact-active,
          &.router-link-active,
          &.active {
            background-color: rgba($color: $yellow, $alpha: .1);
            color: $yellow;
  
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              border-left: 2px solid $yellow;
            }
          }
        }
      }

    }
  }

  &.turquoise {
    background: $turquoise;
    .se-sidebarmenu--brand {
      color: $white;
    }
    .se-sidebarmenu--item {
      a,
      span.submenu-label {
        color: $white;
        cursor: pointer;
        @include border-radius(0);

        &.label-menu {
          color: rgba($color: $white, $alpha: .64);
          cursor: default;
          &:hover {
            background-color: transparent;
            border-left: none;
          }
        }
      }

      &:not(.label) {
        a,
        span.submenu-label {
          &:hover,
          &.router-link-exact-active,
          &.router-link-active,
          &.active {
            background-color: rgba($color: $yellow, $alpha: .1);
            color: $yellow;
  
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              border-left: 2px solid $yellow;
            }
          }
        }
      }

    }
  }

  &.yellow {
    background: $yellow;
    .se-sidebarmenu--brand {
      color: $white;
    }
    .se-sidebarmenu--item {
      a,
      span.submenu-label {
        color: $white;
        cursor: pointer;
        @include border-radius(0);

        &.label-menu {
          color: rgba($color: $white, $alpha: .64);
          cursor: default;
          &:hover {
            background-color: transparent;
            border-left: none;
          }
        }
      }

      &:not(.label) {
        a,
        span.submenu-label {
          &:hover,
          &.router-link-exact-active,
          &.router-link-active,
          &.active {
            background-color: rgba($color: $purple, $alpha: .1);
            color: $purple;
  
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              border-left: 2px solid $purple;
            }
          }
        }
      }

    }
  }

  &.accent {
    background: $accent;
    .se-sidebarmenu--brand {
      color: $white;
    }
    .se-sidebarmenu--item {
      a,
      span.submenu-label {
        color: $text-normal;
        cursor: pointer;
        @include border-radius(0);

        &.label-menu {
          color: $text-subtitle;
          cursor: default;
          &:hover {
            background-color: transparent;
            border-left: none;
          }
        }
      }

      &:not(.label) {
        a,
        span.submenu-label {
          &:hover,
          &.router-link-exact-active,
          &.router-link-active,
          &.active {
            background-color: rgba($color: $purple, $alpha: .1);
            color: $purple;
  
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              border-left: 2px solid $purple;
            }
          }
        }
      }

    }
  }
  
}