.se-switch {
  &.ant-switch {
    &:not(.ant-switch-checked) {
      background-color: $line;
    }
    &:not(.ant-switch-small) {
      height: 24px;
    }
  }
  &.ant-switch-loading-icon,
  &.ant-switch {
    &:not(.ant-switch-small) {
      &:after {
        top: 1.5px;
      }
    }
  }

  // COLORS
  &__yellow {
    &.ant-switch {
      &:focus {
        @include box-shadow(0 0 0 2px rgba($color: $yellow, $alpha: .2));
      }
    }
    &.ant-switch-checked {
      background-color: $yellow;
    }
  }
  &__purple {
    &.ant-switch {
      &:focus {
        @include box-shadow(0 0 0 2px rgba($color: $purple, $alpha: .2));
      }
    }
    &.ant-switch-checked {
      background-color: $purple;
    }
  }
}