.se-tabmenu {
  position: relative;
  font-size: $text-sm;
  font-weight: 800;
  @include flexbox;

  &--list {
    list-style: none;
    color: $text-subtitle;
    background-color: $accent;
    padding: $gutter-xs;

    @include flexbox;
    @include border-radius(50px);
  }

  &--item {
    cursor: pointer;
    padding: ($gutter-md - 4) $gutter-md;

    @include border-radius(50px);
    &.active {
      background-color: $purple;
      color: $white;
      cursor: default;
    }
  }

  &--small {
    .se-tabmenu--item {
      padding: $gutter-xs $gutter-md;
    }
  }

  &--custom-icon {
    border-bottom: 1px solid $c-grey-lighten-8;
    .se-tabmenu--list {
      padding: 0;
      background-color: $white;
      border-radius: unset;
      .icon {
        padding-right: 12px;
      }
    }
    .se-tabmenu--item {
      border-radius: unset;
      font-weight: 600;
      &.active {
        border-bottom: 2px solid $purple;
        background-color: $white;
        color: $purple;
      }
    }
  }
}