
.se-textfield {
  position: relative;
  // height: 116px;

  @include flexbox;
  @include flex-direction(column);

  label {
    margin-bottom: $gutter-sm;
  }

  input {
    border: 1px solid $line;
    outline: none;
    padding: ($gutter-md - 4) $text-md;
    margin-bottom: $gutter-sm;
    font-size: $text-md;
    background-color: $accent;
    width: 100%;
    @include border-radius(8px);

    &::placeholder {
      color: $text-subtitle;
    }

    &:active,
    &:focus {
      border: 1px solid $yellow;
    }

    &:focus + label {
      color: $yellow;
    }
  }

  &--tags {
    padding: ($gutter-sm + $gutter-xs) $gutter-md;
    border: 1px solid $line;
    background-color: $accent;
    margin-bottom: $gutter-sm;

    @include border-radius(8px);

    input {
      border: none;
      margin-bottom: 0;

      &:active,
      &:focus {
        border: none;
      }
    }

    .tags-list {
      padding-top: $gutter-sm;
      border-top: 1px solid $line;
    }

    .se-badge {
      margin-bottom: $gutter-sm;
      &:not(:last-of-type) {
        margin-right: $gutter-sm;
      }
      i {
        font-size: $text-sm;
        top: 50%;
        cursor: pointer;
      }
    }

    &-dropdown {
      list-style: none;
      position: absolute;
      top: 3.6rem;
      left: 0;
      padding-top: $gutter-xs;
      padding-bottom: $gutter-xs;
      background-color: $white;
      border: 1px solid $line;
      width: 100%;
      max-height: 170px;
      overflow-y: auto;
      z-index: 99;
      
      @include box-shadow(0px 4px 8px rgba(112, 116, 138, 0.24));
      @include border-radius(8px);

      .tag-items {
        padding: $gutter-sm $gutter-md;
        cursor: pointer;
        &:hover {
          background-color: rgba($color: $accent, $alpha: .5);
        }

        &.empty {
          cursor: not-allowed;
          background-color: rgba($color: $text-subtitle, $alpha: .25);
        }
      }
    }
  }

  &--small {
    input {
      padding: $gutter-xs $gutter-md;
    }
  }

  &--info {
    font-size: $text-sm;
    font-weight: bold;
  }

  &.error {
    label,
    input,
    .icon,
    .se-textfield--info {
      color: $red;
    }
    .se-textfield--tags {
      border: 1px solid $red;
      input {
        border: none;
        color: $text-normal;
      }
    }

    input {
      border: 1px solid $red;
    }
    
  }

  &.active {
    .se-textfield--tags {
      border: 1px solid $yellow;
      input {
        border: none;
      }
    }
  }

  &.success {
    label,
    .icon,
    .se-textfield--info {
      color: $purple;
    }
    .se-textfield--tags {
      border: 1px solid $purple;
      input {
        border: none;
      }
    }

    input {
      border: 1px solid $purple;
    }
  }

  &.disabled {
    .icon {
      color: $white;
    }
    input {
      cursor: not-allowed;
      background-color: $text-subtitle;
      color: $white;

      &::placeholder {
        color: $line;
      }
    }
  }

  &.error,
  &.success,
  &.disabled {
    input {
      padding-right: 35px;
    }
    i {
      top: 40%;
      transform: translateY(-50%);
    }
  }

  i {
    font-size: $text-md + 2;
    position: absolute;
    top: 40%;
    right: $gutter-md;
    transform: translateY(-50%);
  }
}