
.se-textfield {
  position: relative;
  // height: 116px;

  @include flexbox;
  @include flex-direction(column);

  label {
    margin-bottom: $gutter-sm;
  }

  input {
    border: 1px solid $line;
    outline: none;
    padding: $text-md;
    margin-bottom: $gutter-sm;
    font-size: $text-md;
    background-color: $accent;
    @include border-radius(8px);

    &::placeholder {
      color: $text-subtle;
    }

    &:active,
    &:focus {
      border: 1px solid $orange;
    }

    &:focus + label {
      color: $orange;
    }
  }

  &--info {
    font-size: $text-sm;
    font-weight: bold;
  }

  &.error {
    label,
    input,
    .icon,
    .se-textfield--info {
      color: $red;
    }

    input {
      border: 1px solid $red;
    }
    
  }

  .success {
    .icon {
      color: $purple;
    }

    input {
      border: 1px solid $purple;
    }
  }

  i {
    position: absolute;
    top: 0;
    right: $gutter-md;
    transform: translateY(50%);
  }
}