.se-textarea {
  position: relative;

  @include flexbox;
  @include flex-direction(column);

  .label-name {
    margin-bottom: $gutter-sm;
    color: $text-normal;
    line-height: 22px;

    .asterisk {
      font-size: $text-xs;
      color: $error;
    }
  }



  textarea {
    border: 1px solid $line;
    outline: none;
    background-color: $accent;
    @include border-radius(6px);

    &::placeholder {
      color: $text-subtitle;
    }

    &:not(.ant-input-disabled) {
      &:active,
      &:focus,
      &:hover {
        border-color: $accent;
        @include box-shadow(0 0 0 2px rgba($color: $text-normal, $alpha: .2))
      }
    }
  }

  &.error {
    .label-name,
    textarea,
    .icon,
    .se-textarea__info {
      color: $error;
    }

    textarea {
      border: 1px solid $error;
    }
    
  }

  &__info,
  &__helper {
    font-size: $text-xs;
    line-height: 20px;
  }

  &.success {
    .label-name,
    .icon,
    .se-textarea__info {
      color: $purple;
    }

    textarea {
      border: 1px solid $purple;
    }
  }

  i {
    position: absolute;
    top: 0;
    right: $gutter-md;
    transform: translateY(50%);
  }
}