
.se-textfield {
  position: relative;
  // height: 116px;

  @include flexbox;
  @include flex-direction(column);

  label {
    margin-bottom: $gutter-sm;
    color: $text-normal;
    line-height: 22px;

    .asterisk {
      font-size: $text-xs;
      color: $error;
    }
  }

  &__field {
    input {
      border: 1px solid $line;
      outline: none;
      background-color: $accent;
      width: 100%;
      font-size: $text-sm;
      @include border-radius(6px);
  
      &::placeholder {
        color: $text-subtitle;
      }
  
      &:not(.ant-input-disabled) {
        &:active,
        &:focus,
        &:hover {
          border-color: $accent;
          @include box-shadow(0 0 0 2px rgba($color: $text-normal, $alpha: .2))
        }
      }
    }

    .ant-input-affix-wrapper {
      .ant-input-prefix,
      .ant-input-suffix {
        top: 43%;
      }
    }
  }


  &__info,
  &__helper {
    font-size: $text-xs;
    line-height: 20px;
  }

  &.error {
    label,
    input,
    .icon,
    .se-textfield__info {
      color: $red;
    }

    input {
      border-color: $red;
    }
    
  }

  &.success {
    label,
    .icon,
    .se-textfield__info {
      color: $purple;
    }

    input {
      border-color: $purple;
    }
  }

  &.disabled {
    .icon {
      color: $white;
    }
    input {
      cursor: not-allowed;
      background-color: $disabled;
      color: $white;

      &::placeholder {
        color: $line;
      }
    }
  }

  &.error,
  &.success,
  &.disabled {
    input {
      padding-right: 35px;
    }
    i {
      top: 40%;
      transform: translateY(-50%);
    }
  }
}